.h1 THIS IS THE HOMEPAGE

- shittalks = [ "%_______%, You are a bad person and you smell bad.", "%_______%, fuck you", "Where do you get off, %_______%?"]
- user = {name: "trollcraft", id: 1, profile_image: "http://placekitten.com/50/50", friends: [{name: "@goodtimes", id: 2}, {name: "@youhateme", id: 3}, {name: "@trollface", id: 4}, {name: "@dualpenetration", id: 5}, {name: "@lolcraft", id: 6}]}
- @friends = user[:friends]
%h1
  Hi 
  = user[:name]
  Who really annoyes you?? select from your friends list or enter manually.
  -# = raise @friends.map{ |friend| [ friend[:name], friend[:id] ]}.inspect
  = select(user, "friend_id",  @friends.map{ |friend| [ friend[:name], friend[:id] ]}  )
  = text_field(user,{})

%ul#myTab.nav.nav-tabs
  %li
    %a{href: "#all", data: {toggle: "tab"} }
      all
  %li
    %a{href: "#snark", data: {toggle: "tab"} }
      snark
  %li
    %a{href: "#hate", data: {toggle: "tab"} }
      hate
  %li
    %a{href: "#rage", data: {toggle: "tab"} }
      rage
.tab-content
  #snark.tab-pane.active
    .hero-unit
      %h3
        Select from these snarky tweets: 
      %ul{style: 'list-style-type: none'}
        - for shittalk in shittalks do 
          %li
            .span6{style: 'border: 1px red solid'}
              %h3.pull-left
                = shittalk
              .pull-right
                = check_box_tag shittalk, shittalk

  #hate.tab-pane
    %p
      woah
  #rage.tab-pane
    %p
      lollercoaster
%script{type: "text/javascript"}
  $('#myTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
  })
