
- user = {name: "trollcraft", id: 1, profile_image: "http://placekitten.com/50/50", friends: [{name: "@youhateme", id: 2}, {name: "@mrniceguy", id: 3}, {name: "@trollface", id: 4}, {name: "@dualpenetration", id: 5}, {name: "@lolcraft", id: 6}]}
- shittalks = {name: "snark", list: [ "%_______%, You are a bad person and you smell bad.", "%_______%, I disdain you", "Where do you get off, %_______%?"]}
- woahmamma = {name: "woahmamma" ,list: ["%_______%, gave me herpes.", "%_______%, is the reason why the U.S. went to iraq", "Please go fuck yourself, %_______%?"]}
- hell = {name: "hell", list: [ "%_______%, hey shitbag, you make everyone around you dummer ", "%_______%, I follow you on twitter b/c I hate myself", "Please go fuck yourself, %_______%?"]}
- sports = {name: "sports", list: [ "%_______%, I can't believe they pay you that much and you suck so bad", "%_______%, what's up with you last performance bro?", "Please go fuck yourself, %_______%?"]}
- @friends = user[:friends]
- @tabs = ["snark", "woahmamma", "hell", "sports"]
- @snarktweets_list = [shittalks, woahmamma, hell, sports]
%h1
  Hi 
  %b.strong
    = user[:name].concat ","
  Who really annoyes you?? select from your friends list or enter manually.
  = select(user, "friend_id",  @friends.map{ |friend| [ friend[:name], friend[:id] ]}  )
  = text_field(user,{})

%ul#snark_nav.nav.nav-tabs
  - for tab in @tabs do
    %li
      %a{href: "#" + "#{tab}", data: {toggle: "tab"} }
        = tab
.meat.span8{style: "background: light-grey; display: block"}
  - @snarktweets_list.each do |snarktweets|
    .tab-content
      %div{id: "#{snarktweets[:name]}", class: "tab-pane"}
        %h3
          = snarktweets[:name]
          tweets:
        %ul{style: 'list-style-type: none', class: "draggable snark-tweets"}
          - for snark_tweet in snarktweets[:list] do 
            %li.span6{style: "background: white; border: 1px solid #333;border-radius: 10px; margin: 3px; padding: 5px"}
              %h3.pull-left
                = snark_tweet
              -# .pull-right
                = check_box_tag snarktweet
.sidebar.pull-right.span3{style: "background: light-grey; height: 600px"}

  %h3
    selected tweets:
  #tweet-catch.droppable{style: "background: #999999; border-radius: 15px; height: 50%; display: block; padding: 10px 10px 10px 20px"}
    %ul{style: "list-style-type: none"}
      %li.placeholder{style: "font-style: italic;"}
        drag your tweets here.
  %a.btn.btn-primary{data: {toggle: "modal"}, href: "#myModal", style: "width: 50px; vertical-align: bottom"}
    submit
#myModal.modal.hide
  .modal-header
    %h3
      Trollercoaster initialization
  .modal-body
    %ul{style: 'list-style-type: none'}
      - for snark_tweet in shittalks[:list] do 
        %li.span4{style: "background: white; border: 1px solid #333;border-radius: 10px; margin: 3px; padding: 5px"}
          %p.pull-left.clear-left
            = snark_tweet.sub "%_______%", "@target_SOB"
    %br{style: "clear: left"}
    %p{style: "margin-left: 30px; margin-top: 30px"}
      reply to every tweet from @target_SOB.
      = check_box_tag default: true
  .modal-footer
    .pull-left
      %p.bold
      are you ready to fuck some shit up????
    %a{href: "#", class: "btn", data: {dismiss: "modal"}}
      close
    %a{href: "thank_you", class: "btn btn-primary"}
      Fuck that guy
  %button{data:{dismiss: "modal"}, class: "close" }

%script{type: "text/javascript"}
  $('#myModal').modal("show": false)
%script{type: "text/javascript"}
  $('#snark_nav li a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
  });
  $('#snark_nav a:first').tab('show');
%script{type: "text/javascript"}
  $('#tweet-catch').droppable({
  activeClass: "ui-state-default",
  hoverClass: "ui-state-hover",
  accept: ":not(.ui-sortable-helper)",
  drop: function( event, ui ) {
  $( this ).find( ".placeholder" ).remove();
  $( "<li></li>" ).text( ui.draggable.text() ).appendTo( this );).tab('show');
